<!-- <a href="#" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home </a>
<a href="#" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users </a>
<a href="#" [routerLink]="['/products']" routerLinkActive="router-link-active" >Products </a>
<a type="button" href="#" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login </a>
<a type="button" href="#"[routerLink]="['/register']" routerLinkActive="router-link-active">Register </a>
<a type="button" href="#"[routerLink]="['/logout']" routerLinkActive="router-link-active">Logout </a> -->

<mat-toolbar color="black">
    <span>GETProductsNow!</span>
    
    
    <span class="example-fill-remaining-space"></span>
    
    <a color="accent" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home </a>
<a color="primary"href="#" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users </a>
<a href="#" [routerLink]="['/products']" routerLinkActive="router-link-active" >Products </a>
<a type="button" href="#" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login </a>
<a type="button" href="#"[routerLink]="['/register']" routerLinkActive="router-link-active">Register </a>
<a type="button" href="#"[routerLink]="['/logout']" routerLinkActive="router-link-active">Logout </a>
    </mat-toolbar>


