.navbar {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    position: fixed;
    z-index: 1;

}

a {
    padding: 5px;
    text-decoration: none;
    color:Pink;
    
   
}

span {
    background-color: black;
    color: pink;
    padding: 8%;
    border-radius: 10px;
}