p {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    background: #000;
    width: 100%;
    border: 1px solid black;
  }

  span {
    width: 30%;
    margin: 0 40%;
    
  }

  mat-toolbar {
      background-color: grey;
      color: pink;
  }