<!-- <h1>Login Page</h1>
<form #f="ngForm" (ngSubmit)="onSubmit()">
<input type="email" ngModel name="email" placeholder="Insert email">
<input type="password"ngModel name="password" placeholder="Insert password">
<button type="submit" >Submit</button>
</form>
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{error}}
</div> -->




<h1>Login</h1>

  <form class="login" #f="ngForm" (ngSubmit)="onSubmit()">
    <section>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" ngModel name="email" placeholder="Insert email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password"ngModel name="password" placeholder="Insert password">
        </mat-form-field>
      </div>
      <div>
        
        <button mat-button color="accent" type="submit" style="width : 10em; height: 3em;">Submit</button>
      </div>
  </section>
  </form>
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{error}}
</div>







  
  
