body {
    background-color: lightgrey ;
    
}

.products {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightgrey ;
    
}

.products div{
    margin-top: 10px;
    
}

mat-card {
    background-color: black;
    color: white;
  
}