.register {
    
    width: 30%;
    height: 450px;
    margin: 0 35%;
    border: 1px solid pink;
    border-radius: 25px;
}

div {
    
    width: 70%;
    height: 15%;
    margin: 0 15%;
    margin-top: 5%;
    
    border-radius: 25px;
}

mat-form-field {
    width: 100%;
   
    height: 100%;
    
}

section {
   
    margin: 10% 10%;
}

button {
    margin: 0 25%;
}