div {
   
    background: url(../../../assets/img/watch.jpg);
    height:100% ;
}

section {
    margin-top: 10%;
    margin-left: 5%;
    width: 60%;
    height:30%;
}

button {
    height: 25%;
    width: 50%;
    margin: 5%;
    font-size: 2rem;
    border-radius: 25px;
    color: pink;
    background-color: grey;
}